[Desktop Entry]
Name=Software Center
Comment=Mirror OS Software Center
Exec=mirror-software-center %u
Terminal=false
Type=Application
StartupNotify=true
Icon=io.mirror_os.SoftwareCenter
Categories=COSMIC;System;PackageManager;
Keywords=App;Software;Store;Shop;
MimeType=application/vnd.flatpak.ref;x-scheme-handler/appstream;
